input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    max-width: 120px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Zen Maru Gothic', sans-serif;
}
input::placeholder{
    color:#ffffff;
    font-size: 20px;

}


.input-buscador:active{
   border:none;
}

.input-buscador:focus{
   background-color: #8f8f8f67;
   border-color: transparent;
   box-shadow: 0 1px 1px transparent, 0 0 8px transparent;
   outline: 0 none;
}

.input-buscador{
    margin-top: 370px;
    margin-left: 85%;
    padding-top: 20px
}
